@font-face {
    font-family: 'Terminus (TTF)';
    src: url('fonts/TerminusTTF.woff2') format('woff2'),
        url('TerminusTTF.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

